<div class="main-column">
    <div class="container  clearfix">
        <div class="column  clearfix  advantage">
            <div class="column-digit">01</div>
            <div class="description">
                <img class="description__img" src="img/settings.png" alt="">
                <span class="description__title">Power Inside</span>
                <p class="description__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veniam pariatur, a, earum voluptas officiis expedita sit dolorem in!</p>
                <a class="description__link" href="">Read more <span>&#8594;</span></a>
            </div>
        </div>
        <div class="column clearfix advantage">
            <div class="column-digit">02</div>
            <div class="description">
                <img class="description__img" src="img/sounds.png" alt="">
                <span class="description__title">New technologies</span>
                <p class="description__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veniam pariatur, a, earum voluptas officiis expedita sit dolorem in!</p>
                <a class="description__link" href="">Read more <span>&#8594;</span></a>
            </div>
        </div>
        <div class="column clearfix advantage">
            <div class="column-digit">03</div>
            <div class="description">
                <img class="description__img" src="img/truck.png" alt="">
                <span class="description__title">Fast support</span>
                <p class="description__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veniam pariatur, a, earum voluptas officiis expedita sit dolorem in!</p>
                <a class="description__link" href="">Read more <span>&#8594;</span></a>
            </div>
        </div>
    </div>
</div>
