<header class="header">
  <div class="container  clearfix">
    <div class="logo"><a href=""><img src="img/logo.png" alt=""></a></div>
    <ul class="social-networks">
      <li class="social__items" ><a href=""><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
      <li class="social__items" ><a href=""><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
      <li class="social__items" ><a href=""><i class="fa fa-rss" aria-hidden="true"></i></a></li>
      <li class="social__items" ><a href=""><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
      <li class="social__items" ><a href=""><i class="fa fa-skype" aria-hidden="true"></i></a></li>
    </ul>
  </div>
</header>
