<div class="block-news-wrap">
	<div class="container  clearfix">
		<div class="news-wrap">
			<p class="news-wrap__title">Latest News</p>
			<div class="news">
				<div class="news__date">
					<div class="news__date__month">Jan</div>
					<div class="news__date__day">19</div>
				</div>
				<div class="news-img-wrap">					
					<img src="img/mechanir.jpg" alt="" class="news__img">
				</div>
				<a href="" class="news__title">Lorem ipsum dolor sit amet.</a>
				<span class='by'>by</span>
				<a href="">lorem</a>
				<a href="" class="news__comments">Comments <span class="comments__count">(3)</span></a>
				<p class="news__description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corrupti tenetur, eum dolorem voluptas sunt iste incidunt molestias ab quidem consectetur quos odio esse at inventore. Incidunt optio laudantium voluptate delectus, itaque nostrum.</p>
			</div>
			<div class="news">
				<div class="news__date">
					<div class="news__date__month">Jan</div>
					<div class="news__date__day">19</div>
				</div>
				<div class="news-img-wrap">
					<img src="img/engenner.jpg" alt="" class="news__img">
				</div>
				<a href="" class="news__title">Lorem ipsum dolor sit amet.</a>
				<span class='by'>by</span>
				<a href="">lorem</a>
				<a href="" class="news__comments">Comments <span class="comments__count">(3)</span></a>
				<p class="news__description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corrupti tenetur, eum dolorem voluptas sunt iste incidunt molestias ab quidem consectetur quos odio esse at inventore. Incidunt optio laudantium voluptate delectus, itaque nostrum.</p>
			</div>
		</div>
	</div>
</div>