<div class="block-news-wrap">
	<div class="container  clearfix">
		<div class="news-wrap">
			<div class="news-wrap__title">Latest News</div>
			<div class="news">
				<div class="news__date">
					<div class="news__date__month">Jan</div>
					<div class="news__date__day">19</div>
				</div>
				<div class="news-img-wrap">
					<img src="img/mechanir.jpg" alt="" class="news__img">
				</div>
				<a href="" class="news__title">Lorem ipsum dolor sit amet.</a>
				<span class='by'>by</span>
				<a href="">lorem</a>
				<a href="" class="news__comments">Comments <span class="comments__count">(3)</span></a>
				<p class="news__description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corrupti tenetur, eum dolorem voluptas sunt iste incidunt molestias ab quidem consectetur quos odio esse at inventore. Incidunt optio laudantium voluptate delectus, itaque nostrum.</p>
			</div>
			<div class="news">
				<div class="news__date">
					<div class="news__date__month">Jan</div>
					<div class="news__date__day">19</div>
				</div>
				<div class="news-img-wrap">
					<img src="img/engenner.png" alt="" class="news__img">
				</div>
				<a href="" class="news__title">Lorem ipsum dolor sit amet.</a>
				<div class="news__author">
					<span class='by'>by</span>
					<a href="">cmsmasters</a>
					<a href="" class="news__comments">Comments <span class="comments__count">(3)</span></a>
				</div>
				
				<p class="news__description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corrupti tenetur, eum dolorem voluptas sunt iste incidunt molestias ab quidem consectetur quos odio esse at inventore. Incidunt optio laudantium voluptate delectus, itaque nostrum.</p>
			</div>
		</div>

		<div class="contentBox">
			<div class="contentBox__title">Banners Place</div>
			<div class="accordion js-accordion">
				<div class="accordion__title js-accordion__title"><span class="plus"></span>Accordion Panel 1</div>
				<p class="accordion__description js-accordion__description">Cum sociis natoque penatibus et magnis dis parturient mus. Pro vel nibh et elit mollis commodo et nec augueique Nemo enim ipsam voluptatem quia ptas sit aspernatur momo. Cum sociis natoque penatibus et magnis dis parturient ontesmus. Nemo enim ipsam
					voluptatem quia ptas sit aspernatur samomoPro vel nibh et elit mollis commodo et nec augueique Nemo enim ipsam voluptatem quia ptas sit aspernatur samomo enim ipsam voluptatem.
				</p>
				<div class="accordion__title js-accordion__title"><span class="plus"></span>Accordion Panel 2</div>
				<p class="accordion__description js-accordion__description">Cum sociis natoque penatibus et magnis dis parturient mus. Pro vel nibh et elit mollis commodo et nec augueique Nemo enim ipsam voluptatem quia ptas sit aspernatur momo. Cum sociis natoque penatibus et magnis dis parturient ontesmus. Nemo enim ipsam
					voluptatem quia ptas sit aspernatur samomoPro vel nibh et elit mollis commodo et nec augueique Nemo enim ipsam voluptatem quia ptas sit aspernatur samomo enim ipsam voluptatem.
				</p>
				<div class="accordion__title js-accordion__title"><span class="plus"></span>Accordion Panel 3</div>
				<p class="accordion__description js-accordion__description">Cum sociis natoque penatibus et magnis dis parturient mus. Pro vel nibh et elit mollis commodo et nec augueique Nemo enim ipsam voluptatem quia ptas sit aspernatur momo. Cum sociis natoque penatibus et magnis dis parturient ontesmus. Nemo enim ipsam
					voluptatem quia ptas sit aspernatur samomoPro vel nibh et elit mollis commodo et nec augueique Nemo enim ipsam voluptatem quia ptas sit aspernatur samomo enim ipsam voluptatem.
				</p>
				<div class="accordion__title js-accordion__title"><span class="plus"></span>Accordion Panel 4</div>
				<p class="accordion__description js-accordion__description">Cum sociis natoque penatibus et magnis dis parturient mus. Pro vel nibh et elit mollis commodo et nec augueique Nemo enim ipsam voluptatem quia ptas sit aspernatur momo. Cum sociis natoque penatibus et magnis dis parturient ontesmus. Nemo enim ipsam
					voluptatem quia ptas sit aspernatur samomoPro vel nibh et elit mollis commodo et nec augueique Nemo enim ipsam voluptatem quia ptas sit aspernatur samomo enim ipsam voluptatem.
				</p>
			</div>
		</div>
	</div>
</div>
