<div class="header">
  <div class="container">
    <ul class="menu">
      <li class="menu__item"><a class="menu__link" href="">Home</a></li>
      <li class="menu__item"><a class="menu__link" href="">Features</a></li>
      <li class="menu__item"><a class="menu__link" href="">Servises</a></li>
      <li class="menu__item"><a class="menu__link" href="">News</a></li>
      <li class="menu__item"><a class="menu__link" href="">Shop</a></li>
    </ul>
    <div class="search">
      <input type="text">
      <button><i class="fa fa-search" aria-hidden="true"></i></button>
    </div>
  </div>
</div>
