<div class="container  ">
  <div class="main-menu-wrap  clearfix">
    <ul class="menu">
      <li class="menu__item  active-home"><a class="menu__link" href="">Home</a></li>
      <li class="menu__item"><a class="menu__link" href="">Features</a></li>
      <li class="menu__item"><a class="menu__link" href="">Servises</a></li>
      <li class="menu__item"><a class="menu__link" href="">News</a></li>
      <li class="menu__item"><a class="menu__link" href="">Shop</a></li>
    </ul>
    <form class="search">
      <input class="search__input" type="text">
      <button type="submit"><i class="fa fa-search" aria-hidden="true"></i></button>
    </form>
  </div>
</div>
