<div class="services-wrap">
    <div class="container  clearfix">
        <div class="services-wrap__title">Our Services</div>
        <div class="services">
            <a href="">
                <img class="services__img" src="img/worker.jpg" alt="">
                <span class="services__link">Schedule services</span>
            </a>
        </div>
        <div class="services">
            <a href="">
                <img class="services__img" src="img/truck.jpg" alt="">
                <span class="services__link">Schedule services</span>
            </a>
        </div>
        <div class="services">
            <a href="">
                <img class="services__img" src="img/wheel.jpg" alt="">
                <span class="services__link">Schedule services</span>
            </a>
        </div>
        <div class="services">
            <a href="">
                <img class="services__img" src="img/repair.jpg" alt="">
                <span class="services__link">Schedule services</span>
            </a>
        </div>
    </div>
</div>
