<div class="sponsors-wrap">
  <div class="container">
    <div class="spolsors-list">
    	<a href="" class="sponsors-item"><img src="img/rbp.png" alt=""></a>
    	<a href="" class="sponsors-item"><img src="img/moto.png" alt=""></a>
    	<a href="" class="sponsors-item"><img src="img/crave.png" alt=""></a>
    	<a href="" class="sponsors-item"><img src="img/atx.png" alt=""></a>
    	<a href="" class="sponsors-item"><img src="img/cruiser.png" alt=""></a>
    	<a href="" class="sponsors-item"><img src="img/gear.png" alt=""></a>
    </div>
  </div>
</div>