
/*.content {
    width: 766px;
    text-align: center;
    margin: auto;
}*/

*{list-style: none;
}
 
.carousel-element {
    display: block;
    float: left;
}
 
.carousel-element img {
    max-width: 200px;
}
.carousel-list {    
    width: 10000px;
    position: relative;

}
.carousel-hider {
    width: 600px;
    overflow: hidden;
	float: left;
}


/*==  BUTTON ===*/
.carousel-arrow-left, .carousel-arrow-right {
    float: left;
    display: block;
    border: 1px solid grey;
    background-color: lightgrey;
    padding: 5px;
    cursor: pointer;
    /*background-color: grey;*/
}
 
 
.carousel-arrow-left {
    margin-right: 25px;
}
 
.carousel-arrow-right {
    margin-left: 25px;
}
