.clearfix{
	@include clearfix()
}


.header{
	padding: 36px 0;
}


.logo{
	display: inline-block;
	float: left;
}


.social{
	float: right;
	margin: 0;
	font-size: 0;
	padding: 0;
	margin: 0;

	&__items{
		display: inline-block;
	}
	&__link{
		display: block;
		padding: 10px;
		font-size: 16px;
		color: $share;

		&:hover{
			color:#248cec;
		}
	}

}

