.block-news-wrap{
	background: $news;
	padding: 50px 80px;
}
.news-wrap{
	width: 561px;
	float: left;
}
.news{
	position: relative;
	margin-bottom: 30px;

	&__date{
		position: absolute;
		top: 10px;
		left:-12px;
		width: 40px;
		text-align: center;
		line-height: 40px;
	}
	&__date__month{
		background: #248cec;
		color:$white;
	}
	&__date__day{
		background: #f4b60d;
	}
	&__title{
		display: block;
		font-size: 16px;
		font-family: $font-ubunta;
		color:#2a2d32;

		&:hover{
			color:#248cec;
		}
	}
	&__description{
		font-size: 13px;
	}
}
.news-img-wrap{
	float: left;
	width: 151px;
	height: 153px;
	overflow: hidden;
	margin-right: 10px;
}






.contentBox{
  float: right;
  width: 50%;
  h3{
    color: red;
    padding-bottom: 15px;
  }
}
.accordion{
  padding: 24px 5px 0 16px;

	&__title{
    background-color: #fff;
    padding: 10px 0 10px 0;
    margin-top: 5px;
    border: 1px solid #e8e8e8;
    &:hover{
      background-color: #f4b60d;
      border: 1px solid transparent;
      color: #fff;
      cursor: pointer;
    }
  }
  &__description{
     padding: 20px 10px 10px 40px;
     display: none;
  }
  .active{
       color: #fff;
       background: #f4b60d;
       border: 1px solid transparent;
    .plus:after{
      content: '\2013';
      padding-right: 1px;
    }
  }
}

.plus{
  padding: 10px 15px 10px 15px;
  border-right: 1px solid #e8e8e8;
  margin-right: 10px;
  &:after{
    content: "+";
  }
}
