.main-menu-wrap  {
	background: $menu;
	margin-bottom: 20px;
}


.menu{
	font-family: $font-ubunta;
	font-size: 0;
	float: left;
	padding: 0;
	margin: 0;

	&__item{
		display: inline-block;
		border-right: 1px solid $border;
	}
	&__link{
		display: block;
		padding: 20px 39px;
		font-size: 15px;
		text-transform: uppercase;
		color:$white;

		&:hover{
			color:#f4b60d;
			text-decoration: none;
		}
	}
}

.active-home{
	background: $activeHome;
}


.search{
	float: right;
	margin-top: 8px;
	margin-right: 8px;
	position: relative;


	&__input{
		width: 240px;
		border:1px solid $border;
		background: $search;
		color:#626466;
		padding: 13px;
		font-size: 12px;
		height: 40px;
	}

	button{
		position: absolute;
		color:$share;
		top:7px;
		right: 11px;
		background: none;
		background:none;
		border:none;
	}
}
